h1 {
    font-size: 80px;
    font-family: Impact;
    color: #212529;
}


body{
    background-color: teal;
}



.qoutearea{
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #FDFD96;
}


.qoutearea h5,p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.button button{
    color:#FDFD96;
}


.button button:hover,
.button button:focus{
    color:#FDFD96;
}

.icon{
    font-size: 3.5rem;
}